/* db.css */

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    margin-bottom: 30px;
    font-size: 36px;
    color: black;
}

input[type="text"] {
    width: 100%;
    padding: 16px;
    margin-bottom: 40px;
    font-size: 24px;
    opacity: 0.5;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table th, .table td {
    padding: 16px;
    border-bottom: 3px solid #5e5e5e;
    text-align: left;
    font-size: 24px;
    color: black;
}

.table th {
    background-color: #00788d6b;
}

.table td button {
    padding: 14px 28px;
    border: none;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    font-size: 24px;
}

.table td button:hover {
    background-color: #0056b3;
}
